---
title: IBM® MQ Advanced for Developers for PCF (Beta)
owner: Partners
---

<strong><%= modified_date %></strong>

<p class="note warning">
<strong>Warning: </strong>
The IBM MQ Advanced for Developers for PCF tile is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a PCF production environment.
</p>

This documentation describes IBM MQ Advanced for Developers for Pivotal Cloud Foundry (PCF). IBM MQ Advanced for Developers 
for PCF enables users to deploy IBM MQ Queue Managers onto a Pivotal Container Service (PKS) environment.

## <a id='overview'></a>Overview

This tile deploys a single IBM MQ Advanced for Developers server (Queue Manager). IBM MQ is messaging middleware that 
simplifies and accelerates the integration of diverse applications and business data across multiple platforms. It uses 
message queues to facilitate the exchanges of information and offers a single messaging solution for cloud, mobile, 
Internet of Things (IoT), and on-premises environments.

## <a id='features'></a>Key Features

IBM MQ Advanced for Developers for PCF will do the following:

* Create a single MQ server (Queue Manager) using a StatefulSet with exactly one replica. Kubernetes will ensure that if it fails for some reason, it will be restarted, possibly on a different worker node.
* Create a Service. This is used to ensure that MQ client applications have a consistent IP address to connect to, regardless of where the Queue Manager is actually running.
* Create a Secret. This is used to store passwords used for the default developer configuration.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about IBM MQ Advanced for Developers for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v3.0.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 8, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>9.1.2.0</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Container Service version(s)</td>
        <td>1.2.0+</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>No</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

IBM MQ Advanced for Developers for PCF has the following requirements:

+ When installing PKS, ensure the `Disable DenyEscalatingExec` option is set to true when selecting a plan.

### <a id="recourcereqs"></a>Resource Requirements

IBM MQ Advanced for Developers for PCF has the following resource requirements:

+ 0.5 CPU core

+ 0.5 Gi memory

+ 2 Gi persistent volume

## <a id="limitations"></a>Limitations

It is not generally recommended that you change the number of replicas in the StatefulSet from the default value of 1. Setting 
the number of replicas creates multiple Queue Managers.  The recommended way to scale MQ is by deploying this 
chart multiple times and connecting the Queue Managers together using MQ configuration — see [Architectures based on multiple 
queue managers](https://www.ibm.com/support/knowledgecenter/en/SSFKSJ_9.0.0/com.ibm.mq.pla.doc/q004720_.htm).  If you choose 
to set a different number of replicas on the StatefulSet, connections to each Queue Manager will be routed via a single IP 
address from the Kubernetes Service.  Connections to multiple replicas via a Service are load balanced, typically on a round-robin 
basis.  If you do this, you need to take great care not to create an affinity between an MQ client and server, because a 
client might get disconnected, and then re-connect to a different server.  See Chapter 7 of the 
[IBM MQ as a Service Redpaper](https://www.redbooks.ibm.com/redpapers/pdfs/redp5209.pdf)

It is not recommended to change the number of replicas in the StatefulSet after initial deployment.  This will cause the 
addition or deletion of Queue Managers, which can result in loss of messages.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) list.

## <a id='license'></a>License

Deploying the IBM MQ Advanced for Developers for PCF tile accepts the [IBM MQ Advanced for Developers License](http://www14.software.ibm.com/cgi-bin/weblap/lap.pl?la_formnum=Z125-3301-14&li_formnum=L-APIG-AVCJ4S)
