---
title: Release Notes for IBM® MQ Advanced for Developers for PCF
owner: Partners
---

<strong><%= modified_date %></strong>

<!-- **This topic should include the Release Notes for your product. For examples, see the 
[GCP Service Broker Release Notes](http://docs.pivotal.io/gcp-sb/release-notes.html) or the 
[ISS Knowtify Search Analytics Release Notes](http://docs.pivotal.io/knowtify/release.html).
When you release a new version, add new release notes to this file, keeping the older notes below.** -->

These are release notes for IBM MQ Advanced for Developers for PCF.

## <a id="ver"></a> v4.0.0

**Release Date:** July 1, 2019

Features included in this release:

* Create a single MQ server (Queue Manager) using a [StatefulSet](http://kubernetes.io/docs/concepts/abstractions/controllers/statefulsets/) with exactly one replica.  Kubernetes will ensure that if it fails for some reason, it will be restarted, possibly on a different worker node.
* Create a [Service](https://kubernetes.io/docs/concepts/services-networking/service/). This is used to ensure that MQ client applications have a consistent IP address to connect to, regardless of where the Queue Manager is actually running.

## Documentation

- [What's new and changed in IBM MQ Version 9.1.x](https://www.ibm.com/support/knowledgecenter/en/SSFKSJ_9.1.0/com.ibm.mq.pro.doc/q113110_.htm)

## Version History

| Chart | Date | Kubernetes Required | Image(s) Supported | Breaking Changes | Details |
| ----- | ---- | ------------ | ------------------ | ---------------- | ------- |
| 4.0.0 | June 2019 | >= 1.11.0 | = MQ 9.1.2.0 | Initial PCF release | Initial PCF release |
